{# <section id="info-banner" class="bg-gradient-to-b from-[#ff133a] to-[#ed4d5d]"> #}
<section id="info-banner" class="bg-[#ed4d5d]">
  <div class="container flex flex-row leading-5">
    {% for statement in infoBanner.statements %}
      <div class="w-1/3 mx-3 pt-6 centered-column border-t-2 border-[#374151]">
        <h3>{{ statement.label }}</h3>
        <div class="my-6">
          <object data="{{ statement.svgUrl }}" width="95" height="95"></object>
        </div>
        <p class="mb-4">{{ statement.copy }}</p>
      </div>
    {% endfor %}
  </div>
</section>