<section id="banner-quote" class="py-32">
  <div class="container centered-column text-[#c7aa8b]">
    <p class="text-5xl">{{ site.quote }}</p>
    <div class="w-full my-6">
      <hr class="border-t-2 w-16">
    </div>
  </div>
</section>