<section id="main" class="text-white">
  <div class="container centered-column">
    <h1 class="font-light">{{ site.titleUpper }}</h1>
    <h1 class="font-bold">{{ site.titleLower }}</h1>
    <hr class="border-t-2 w-16 my-6">
    <p class="font-volkorn italic text-xl mb-[44px]">{{ site.description }}</p>
    <button>{{ site.cta }}</button>
    <hr class="border-t-2 w-16 my-6"> <!-- todo: replace this with carousel -->
  </div>
</section>