<section id="team-roster" class="bg-[#081f48] text-white">
  <div class="container flex flex-row">
    <div class="w-1/4 mx-3">
      <h3 class="text-3xl font-bold">The Team</h3>
    </div>
    {% for member in team.members %}
      <div class="w-1/4 mx-3">
        {% set imgUrl = "./src/img/" + member.shorthand + ".png" %}
        {% set altText = "Photo of " + member.name %}
        <div class="shadow-lg h-[320px] overflow-hidden">
          {% image imgUrl, altText %}
        </div>
        <p class="text-base">{{ member.name }}</p>
        <p class="text-sm italic">{{ member.title }}</p>
      </div>
    {% endfor %}
  </div>
</section>