<header class="flex justify-between items-center h-24 p-4 bg-gray-100">
  <div class="logo">
    <a href="/#">
      <img class="h-auto max-w-xs" src="/img/surfboard225x60.png" alt="Alliance Surfoboard Logo" />
    </a>
  </div>
  <nav class="flex items-center">
    <a class="mx-4 text-lg text-blue-500 hover:text-blue-700" href="/">Home</a>
    <a class="mx-4 text-lg text-blue-500 hover:text-blue-700" href="/services">Services</a>
    <a class="mx-4 text-lg text-blue-500 hover:text-blue-700" href="/about">About Us</a>
    <a class="mx-4 text-lg text-blue-500 hover:text-blue-700" href="/contact">Contact Us</a>
  </nav>
  <div class="flex items-center space-x-4">
    <div class="flex items-center space-x-4">
      <a href="https://www.facebook.com/myautoshop"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.yelp.com/biz/my-auto-shop"><i class="fab fa-yelp"></i></a>
      <a href="https://www.google.com/maps/place/myautoshop"><i class="fab fa-google"></i></a>
    </div>
    <div>
      <h4 class="font-bold text-lg">Hours:</h4>
      <p class="text-gray-600">
        Monday - Friday: 8am - 6pm<br />
        Saturday: 9am - 5pm<br />
        Sunday: Closed
      </p>
    </div>
    <div class="header-address">
      <h4 class="font-bold text-lg">Address:</h4>
      <p>
        1669 W. Anaheim Street<br />
        Harbor City, CA 90710
      </p>
    </div>
  </div>
</header>
