@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set default font and link color */
body {
  @apply bg-gray-400 font-sans text-base text-gray-700 leading-5;
}

a {
  @apply text-blue-500 no-underline hover:underline;
}

#main {

}