---
permalink: /about/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Us - My Auto Shop</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {% include "src/_includes/header.njk" %}

    <section class="about-section">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut elit elit. Praesent sit amet facilisis dui. Suspendisse vel enim non erat fermentum suscipit. Donec a ante ac velit facilisis dapibus eget vel dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper, quam at lacinia dictum, dolor nisl sollicitudin lectus, sed bibendum nunc nisi vel velit.</p>
    </section>

    {% include "src/_includes/footer.njk" %}
  </body>
</html>